.cart {
  &__bt-close {
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 15px;
    font-weight: 600;
    font-size: 18px;
    line-height: 35px;
    color: #ffffff;
    &:hover svg path {
      transition: 0.3s all ease;
      // opacity: 0.7;
      fill: #c5c5c5;
    }
    &:active {
      transform: translateY(0.5px);
    }
  }
  &__window {
    position: absolute;
    border-radius: 10px;
    width: 458px;
    margin: 0 15px;
    background: linear-gradient(90deg, #494544 0%, #504b4a 100%);
    top: -100%;
    transition: 0.3s all ease;

    &.active {
      top: auto;
    }

    @media (max-width: 500px) {
      width: 400px;
    }
    @media (max-width: 420px) {
      width: 365px;
    }
    @media (max-width: 385px) {
      width: 340px;
    }
  }
  &__modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    text-align: center;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all ease;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  &__title {
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
  }
  &__image {
    width: 100%;
    margin: 0px 0px 15px;
    padding-top: 52px;
  }

  &__btn-menu {
    margin: 40px 0;
    padding: 17px 35px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
  }
}
